<ion-app>
  <ion-header
    ><ion-toolbar>
      <ion-segment value="Home">
        <ion-segment-button value="Home">
          <ion-label>Home</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Configuração">
          <ion-label>Configuração</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Sing Up">
          <ion-label>Sing Up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
