<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-segment [value]="currentTab" (ionChange)="navigate($event)">
        <ion-segment-button value="home">
          <ion-label>Home</ion-label>
        </ion-segment-button>
        <ion-segment-button value="config">
          <ion-label>Configuração</ion-label>
        </ion-segment-button>
        <ion-segment-button value="singup">
          <ion-label>Sing Up</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <ion-footer>
    <ion-text color="warning">(11) 98200-3157</ion-text>
    <ion-icon slot="start" name="logo-whatsapp" color="warning"></ion-icon>
  </ion-footer>
</ion-app>
